/* module css 01
 -----------------------------------------------------*/
.text-creamy {
  position: absolute;
  left: 40%;
  top: 49%;
  width: 17.4%;
  height: 10%; }
  .text-creamy .inner-text-creamy {
    position: relative;
    width: 100%;
    height: 100%; }
    .text-creamy .inner-text-creamy .text-1 {
      position: absolute;
      left: 6%;
      top: 7%;
      width: 31%;
      z-index: 6;
      -webkit-animation: text-1 infinite 5s;
           -o-animation: text-1 infinite 5s;
              animation: text-1 infinite 5s; }
@-webkit-keyframes text-1 {
  0% {
    left: 6%;
    top: 7%; }
  5% {
    left: 6%;
    top: 0%; }
  10% {
    left: 6%;
    top: 7%; }
  100% {
    left: 6%;
    top: 7%; } }
@-o-keyframes text-1 {
  0% {
    left: 6%;
    top: 7%; }
  5% {
    left: 6%;
    top: 0%; }
  10% {
    left: 6%;
    top: 7%; }
  100% {
    left: 6%;
    top: 7%; } }
@keyframes text-1 {
  0% {
    left: 6%;
    top: 7%; }
  5% {
    left: 6%;
    top: 0%; }
  10% {
    left: 6%;
    top: 7%; }
  100% {
    left: 6%;
    top: 7%; } }
    .text-creamy .inner-text-creamy .text-2 {
      position: absolute;
      left: 31%;
      top: 34%;
      width: 21%;
      z-index: 5;
      -webkit-animation: text-2 infinite 5s;
           -o-animation: text-2 infinite 5s;
              animation: text-2 infinite 5s; }
@-webkit-keyframes text-2 {
  0% {
    top: 34%; }
  3% {
    top: 34%; }
  7% {
    top: 20%; }
  12% {
    top: 34%; }
  100% {
    top: 34%; } }
@-o-keyframes text-2 {
  0% {
    top: 34%; }
  3% {
    top: 34%; }
  7% {
    top: 20%; }
  12% {
    top: 34%; }
  100% {
    top: 34%; } }
@keyframes text-2 {
  0% {
    top: 34%; }
  3% {
    top: 34%; }
  7% {
    top: 20%; }
  12% {
    top: 34%; }
  100% {
    top: 34%; } }
    .text-creamy .inner-text-creamy .text-3 {
      position: absolute;
      left: 44%;
      top: 21%;
      width: 16%;
      z-index: 4;
      -webkit-animation: text-3 infinite 5s;
           -o-animation: text-3 infinite 5s;
              animation: text-3 infinite 5s; }
@-webkit-keyframes text-3 {
  0% {
    top: 21%; }
  7% {
    top: 21%; }
  12% {
    top: 14%; }
  17% {
    top: 21%; }
  100% {
    top: 21%; } }
@-o-keyframes text-3 {
  0% {
    top: 21%; }
  7% {
    top: 21%; }
  12% {
    top: 14%; }
  17% {
    top: 21%; }
  100% {
    top: 21%; } }
@keyframes text-3 {
  0% {
    top: 21%; }
  7% {
    top: 21%; }
  12% {
    top: 14%; }
  17% {
    top: 21%; }
  100% {
    top: 21%; } }
    .text-creamy .inner-text-creamy .text-4 {
      position: absolute;
      left: 56.5%;
      top: 11%;
      width: 19%;
      z-index: 3;
      -webkit-animation: text-4 infinite 5s;
           -o-animation: text-4 infinite 5s;
              animation: text-4 infinite 5s; }
@-webkit-keyframes text-4 {
  0% {
    top: 11%; }
  10% {
    top: 11%; }
  15% {
    top: 3%; }
  20% {
    top: 11%; }
  100% {
    top: 11%; } }
@-o-keyframes text-4 {
  0% {
    top: 11%; }
  10% {
    top: 11%; }
  15% {
    top: 3%; }
  20% {
    top: 11%; }
  100% {
    top: 11%; } }
@keyframes text-4 {
  0% {
    top: 11%; }
  10% {
    top: 11%; }
  15% {
    top: 3%; }
  20% {
    top: 11%; }
  100% {
    top: 11%; } }
    .text-creamy .inner-text-creamy .text-5 {
      position: absolute;
      left: 68%;
      top: 0%;
      width: 17%;
      z-index: 2;
      -webkit-animation: text-5 infinite 5s;
           -o-animation: text-5 infinite 5s;
              animation: text-5 infinite 5s; }
@-webkit-keyframes text-5 {
  0% {
    top: 0%; }
  13% {
    top: 0%; }
  18% {
    top: -10%; }
  23% {
    top: 0%; }
  100% {
    top: 0%; } }
@-o-keyframes text-5 {
  0% {
    top: 0%; }
  13% {
    top: 0%; }
  18% {
    top: -10%; }
  23% {
    top: 0%; }
  100% {
    top: 0%; } }
@keyframes text-5 {
  0% {
    top: 0%; }
  13% {
    top: 0%; }
  18% {
    top: -10%; }
  23% {
    top: 0%; }
  100% {
    top: 0%; } }
    .text-creamy .inner-text-creamy .text-6 {
      position: absolute;
      left: 81%;
      top: -9%;
      width: 18%;
      z-index: 1;
      -webkit-animation: text-6 infinite 5s;
           -o-animation: text-6 infinite 5s;
              animation: text-6 infinite 5s; }
@-webkit-keyframes text-6 {
  0% {
    top: -9%; }
  16% {
    top: -9%; }
  21% {
    top: -19%; }
  26% {
    top: -9%; }
  100% {
    top: -9%; } }
@-o-keyframes text-6 {
  0% {
    top: -9%; }
  16% {
    top: -9%; }
  21% {
    top: -19%; }
  26% {
    top: -9%; }
  100% {
    top: -9%; } }
@keyframes text-6 {
  0% {
    top: -9%; }
  16% {
    top: -9%; }
  21% {
    top: -19%; }
  26% {
    top: -9%; }
  100% {
    top: -9%; } }
    .text-creamy .inner-text-creamy .ico-car {
      position: absolute;
      left: 25%;
      top: 96%;
      width: 17%;
      z-index: 8; }

@media (max-width: 767px) {
  .text-creamy {
    top: 50%; } }
.light {
  position: absolute;
  left: -0.2%;
  top: 16.8%;
  width: 100%;
  height: 22%; }
  .light .inner-light {
    position: relative;
    width: 100%;
    height: 100%; }
  .light .light-1 {
    position: absolute;
    left: 51.2%;
    top: 33.8%;
    width: 2%;
    z-index: 1;
    -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
         -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-animation: light-1 infinite 10s;
         -o-animation: light-1 infinite 10s;
            animation: light-1 infinite 10s; }
@-webkit-keyframes light-1 {
  0% {
    opacity: 1; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  6% {
    opacity: 0; }
  8% {
    opacity: 1; }
  10% {
    opacity: 0; }
  12% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-o-keyframes light-1 {
  0% {
    opacity: 1; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  6% {
    opacity: 0; }
  8% {
    opacity: 1; }
  10% {
    opacity: 0; }
  12% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes light-1 {
  0% {
    opacity: 1; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  6% {
    opacity: 0; }
  8% {
    opacity: 1; }
  10% {
    opacity: 0; }
  12% {
    opacity: 1; }
  100% {
    opacity: 1; } }
  .light .light-2 {
    position: absolute;
    left: 57.7%;
    -webkit-transform: rotate(9deg);
        -ms-transform: rotate(9deg);
         -o-transform: rotate(9deg);
            transform: rotate(9deg);
    top: 32.5%;
    width: 2.2%;
    -webkit-animation: light-2 infinite 10s;
         -o-animation: light-2 infinite 10s;
            animation: light-2 infinite 10s;
    z-index: 1; }
@-webkit-keyframes light-2 {
  0% {
    opacity: 1; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  6% {
    opacity: 0; }
  8% {
    opacity: 1; }
  10% {
    opacity: 0; }
  12% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-o-keyframes light-2 {
  0% {
    opacity: 1; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  6% {
    opacity: 0; }
  8% {
    opacity: 1; }
  10% {
    opacity: 0; }
  12% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes light-2 {
  0% {
    opacity: 1; }
  2% {
    opacity: 0; }
  4% {
    opacity: 1; }
  6% {
    opacity: 0; }
  8% {
    opacity: 1; }
  10% {
    opacity: 0; }
  12% {
    opacity: 1; }
  100% {
    opacity: 1; } }
  .light .text-1 {
    position: absolute;
    left: 39.3%;
    top: 51.4%;
    width: 12%; }
    .light .text-1 .img-1 {
      width: 100%;
      -webkit-animation: text-floating infinite 10s;
           -o-animation: text-floating infinite 10s;
              animation: text-floating infinite 10s; }
    .light .text-1 .img-4 {
      position: absolute;
      left: 99.5%;
      top: 28%;
      width: 20%;
      -webkit-animation: text-floating-1 infinite 10s;
           -o-animation: text-floating-1 infinite 10s;
              animation: text-floating-1 infinite 10s; }
@-webkit-keyframes text-floating {
  0% {
    opacity: 0; }
  12% {
    opacity: 0; }
  20% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  22% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  24% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  26% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  28% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    opacity: 1; } }
@-o-keyframes text-floating {
  0% {
    opacity: 0; }
  12% {
    opacity: 0; }
  20% {
    opacity: 1;
    -o-transform: scale(1);
       transform: scale(1); }
  22% {
    -o-transform: scale(1.1);
       transform: scale(1.1); }
  24% {
    -o-transform: scale(1);
       transform: scale(1); }
  26% {
    -o-transform: scale(1.1);
       transform: scale(1.1); }
  28% {
    -o-transform: scale(1);
       transform: scale(1); }
  100% {
    opacity: 1; } }
@keyframes text-floating {
  0% {
    opacity: 0; }
  12% {
    opacity: 0; }
  20% {
    opacity: 1;
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  22% {
    -webkit-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1); }
  24% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  26% {
    -webkit-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1); }
  28% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  100% {
    opacity: 1; } }
@-webkit-keyframes text-floating-1 {
  0% {
    opacity: 0; }
  12% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-o-keyframes text-floating-1 {
  0% {
    opacity: 0; }
  12% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes text-floating-1 {
  0% {
    opacity: 0; }
  12% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
  .light .ico-1 {
    position: absolute;
    left: 54%;
    top: 55.7%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
@-webkit-keyframes ico-1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  15% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  45% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@-o-keyframes ico-1 {
  0% {
    -o-transform: scale(1);
       transform: scale(1); }
  15% {
    -o-transform: scale(1.2);
       transform: scale(1.2); }
  30% {
    -o-transform: scale(1);
       transform: scale(1); }
  45% {
    -o-transform: scale(1.2);
       transform: scale(1.2); }
  60% {
    -o-transform: scale(1);
       transform: scale(1); }
  75% {
    -o-transform: scale(1.2);
       transform: scale(1.2); }
  30% {
    -o-transform: scale(1);
       transform: scale(1); } }
@keyframes ico-1 {
  0% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  15% {
    -webkit-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2); }
  30% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  45% {
    -webkit-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2); }
  60% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  75% {
    -webkit-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2); }
  30% {
    -webkit-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); } }
  .light .ico-2 {
    position: absolute;
    left: 54.4%;
    top: 52.3%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-3 {
    position: absolute;
    left: 55%;
    top: 51.5%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-4 {
    position: absolute;
    left: 55.5%;
    top: 51%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-5 {
    position: absolute;
    left: 56%;
    top: 52.6%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-6 {
    position: absolute;
    left: 56%;
    top: 57.1%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-7 {
    position: absolute;
    left: 55%;
    top: 59.5%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-8 {
    position: absolute;
    left: 55.5%;
    top: 58.5%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-9 {
    position: absolute;
    left: 56%;
    top: 62%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-10 {
    position: absolute;
    left: 56%;
    top: 65.7%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-11 {
    position: absolute;
    left: 55.5%;
    top: 66.8%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-12 {
    position: absolute;
    left: 54.9%;
    top: 67.3%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-13 {
    position: absolute;
    left: 54.9%;
    top: 67.3%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-14 {
    position: absolute;
    left: 54.3%;
    top: 66.5%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-27 {
    position: absolute;
    left: 54%;
    top: 65%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-15 {
    position: absolute;
    left: 59.3%;
    top: 52.3%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-16 {
    position: absolute;
    left: 59%;
    top: 49.9%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-17 {
    position: absolute;
    left: 58.45%;
    top: 49.9%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-18 {
    position: absolute;
    left: 57.9%;
    top: 50.1%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-19 {
    position: absolute;
    left: 57.3%;
    top: 52.1%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-20 {
    position: absolute;
    left: 57.2%;
    top: 56%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-21 {
    position: absolute;
    left: 57.2%;
    top: 60.7%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-22 {
    position: absolute;
    left: 57.4%;
    top: 64.5%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-23 {
    position: absolute;
    left: 57.9%;
    top: 65.5%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-24 {
    position: absolute;
    left: 58.45%;
    top: 65.4%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-25 {
    position: absolute;
    left: 59%;
    top: 64.4%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }
  .light .ico-26 {
    position: absolute;
    left: 59.3%;
    top: 61%;
    width: 1.5%;
    -webkit-animation: ico-1 infinite 3s;
         -o-animation: ico-1 infinite 3s;
            animation: ico-1 infinite 3s; }

.md-popup {
  cursor: pointer;
  z-index: 100 !important; }
  .md-popup .inner-popup {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    width: 100%;
    text-align: center;
    background: #FFF;
    padding: 15px 7px; }
    .md-popup .inner-popup .title {
      font-family: 'UTMBebas';
      color: #f8aa52; }
      .md-popup .inner-popup .title h4 {
        font-size: -webkit-calc(20px + 2vw);
        font-size: calc(20px + 2vw);
        margin-bottom: 0px;
        line-height: 0.8; }
      .md-popup .inner-popup .title span {
        font-size: -webkit-calc(10px + 1vw);
        font-size: calc(10px + 1vw); }
    .md-popup .inner-popup .info p {
      font-size: -webkit-calc(5px + 0.6vw);
      font-size: calc(5px + 0.6vw);
      margin-bottom: 10px; }
      .md-popup .inner-popup .info p:last-child {
        margin-bottom: 0px; }
  @media (max-width: 767px) {
    .md-popup .inner-popup .title h4 {
      font-size: -webkit-calc(40px + 2vw);
      font-size: calc(40px + 2vw);
      margin-bottom: 10px; }
    .md-popup .inner-popup .title span {
      font-size: -webkit-calc(20px + 1vw);
      font-size: calc(20px + 1vw); }
    .md-popup .inner-popup .info p {
      font-size: -webkit-calc(10px + 0.6vw);
      font-size: calc(10px + 0.6vw); } }

.md-popup-1 {
  left: 20%;
  bottom: 49%;
  width: 20%;
  height: 10%;
  position: absolute;
  z-index: 100; }
  .md-popup-1:hover .inner-popup-1 {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  .md-popup-1 .inner-popup-1 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    position: absolute;
    left: -90%;
    top: -110%;
    z-index: 20; }
  @media (max-width: 767px) {
    .md-popup-1 .inner-popup-1 {
      width: 150%; } }

.text-creamy {
  cursor: pointer; }
  .text-creamy:hover .inner-popup-2 {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }

.md-popup-2 .inner-popup-2 {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  position: absolute;
  left: -112%;
  top: -100%;
  width: 115%;
  z-index: 20; }
@media (max-width: 767px) {
  .md-popup-2 .inner-popup-2 {
    width: 165%; } }

.md-popup-3 {
  position: absolute;
  width: 20%;
  left: 69%;
  top: 65.4%;
  height: 10%;
  z-index: 6; }
  .md-popup-3:hover .inner-popup-3 {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }
  .md-popup-3 .inner-popup-3 {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    position: absolute;
    left: 15%;
    bottom: 135%;
    width: 100%;
    z-index: 20; }
  @media (max-width: 767px) {
    .md-popup-3 .inner-popup-3 {
      width: 150%;
      left: auto;
      right: 0%;
      bottom: 120%; } }

.animation-text-clear {
  z-index: 2; }

.md-popup-4 .inner-popup-4 {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  position: absolute;
  left: 65%;
  top: 30%;
  width: 120%;
  z-index: 30; }
  .md-popup-4 .inner-popup-4 .blk-cta-link {
    position: relative;
    display: block; }
    .md-popup-4 .inner-popup-4 .blk-cta-link .cta-link-1 {
      background: url(../images/bg-cta-3.png) no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      border-radius: 40px;
      margin-bottom: 10px;
      width: 90%;
      -webkit-animation: none;
           -o-animation: none;
              animation: none;
      font-size: -webkit-calc(10px + 0.6vw);
      font-size: calc(10px + 0.6vw);
      padding: 10px 10px; }
    .md-popup-4 .inner-popup-4 .blk-cta-link .cta-link-2 {
      background: url(../images/bg-cta-2.png) no-repeat;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      border-radius: 40px;
      width: 90%;
      -webkit-animation: none;
           -o-animation: none;
              animation: none;
      color: #f8aa52;
      font-size: -webkit-calc(10px + 0.6vw);
      font-size: calc(10px + 0.6vw);
      padding: 10px 10px; }
@media (max-width: 767px) {
  .md-popup-4 .inner-popup-4 {
    width: 180%;
    left: auto;
    right: -25%;
    top: 30%; }
    .md-popup-4 .inner-popup-4 .blk-cta-link {
      margin-top: 20px;
      display: block; }
      .md-popup-4 .inner-popup-4 .blk-cta-link .cta-link-1 {
        width: 48%;
        float: left; }
      .md-popup-4 .inner-popup-4 .blk-cta-link .cta-link-2 {
        width: 48%;
        float: right; } }

.text-moment-museum {
  cursor: pointer;
  height: 27.2%;
  z-index: 10; }
  .text-moment-museum:hover .inner-popup-4 {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1); }

@media (max-width: 767px) {
  .animation-vach-song-1 {
    z-index: 5; }

  .animation-vach-song-2 {
    z-index: 5; }

  .md-popup-1 {
    left: 18%;
    bottom: 44%; }
    .md-popup-1 .inner-popup-1 {
      left: -50%;
      bottom: 150%;
      top: auto; }

  .md-popup-2 .inner-popup-2 {
    left: -50%;
    bottom: 120%;
    top: auto; }

  .md-popup-3 {
    left: 71%;
    top: 63.4%; }

  .light {
    left: 0.2%;
    top: 19.1%;
    width: 100%;
    height: 22%; }
    .light .light-1 {
      left: 51.2%;
      top: 32.8%; }
    .light .light-2 {
      left: 59%;
      top: 31%; }
    .light .ico-5 {
      left: 56.2%; }
    .light .ico-4 {
      left: 55.6%;
      top: 51.2%; }
    .light .ico-6 {
      left: 56.2%; }
    .light .ico-8 {
      left: 55.5%;
      top: 59%; }
    .light .ico-9 {
      left: 56.3%; }
    .light .ico-10 {
      left: 56.2%;
      top: 65.9%; }
    .light .ico-15 {
      left: 59.8%; }
    .light .ico-16 {
      left: 59.5%; }
    .light .ico-17 {
      left: 58.9%; }
    .light .ico-18 {
      left: 58.3%; }
    .light .ico-19 {
      left: 57.7%; }
    .light .ico-20 {
      left: 57.5%; }
    .light .ico-21 {
      left: 57.5%; }
    .light .ico-26 {
      left: 59.9%; }
    .light .ico-25 {
      left: 59.5%; }
    .light .ico-24 {
      left: 58.9%;
      top: 65.3%; }
    .light .ico-23 {
      left: 58.3%; }
    .light .ico-22 {
      left: 57.7%; } }
@media (max-width: 500px) {
  .md-popup-1 .inner-popup-1 {
    bottom: auto;
    top: -200%; }

  .md-popup-2 .inner-popup-2 {
    top: auto;
    bottom: -120%; }

  .md-popup-3 .inner-popup-3 {
    top: auto;
    bottom: -50%; } }
