@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.eot');
    src: url('SVN-GothamBold.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff'),
        url('SVN-GothamBold.ttf') format('truetype'),
        url('SVN-GothamBold.svg#SVN-GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

